<table class="table w-75 mx-auto">
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <td>{{ ticket?.id }}</td>
    </tr>
    <tr>
      <th scope="col">Ticket type</th>
      <td>{{ ticket?.ticketType }}</td>
    </tr>
    <tr>
      <th scope="col">Validity period</th>
      <td>{{ ticket?.validityPeriod }}</td>
    </tr>
    <tr>
      <th scope="col">Price</th>
      <td>{{ ticket?.price }}</td>
    </tr>
    <tr>
      <th scope="col">Discount</th>
      <td>{{ ticket?.discounted }}</td>
    </tr>
    <tr>
      <th scope="col">Add to chart</th>
      <td>
        <button class="btn btn-primary">Dodaj do koszyka (dodać logikę)</button>
      </td>
    </tr>
  </tbody>
</table>
