<div
  *ngIf="successfulRegister"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  Użytkownik poprawnie zarejestrowany
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="successfulRegister = false"
  ></button>
</div>
<div class="mx-auto my-5 login-container">
  <div class="header-text">
    <p>Rejestracja</p>
  </div>
  <form [formGroup]="registerForm">
    <div class="form-outline mb-4">
      <label
        class="form-label"
        for="input-username"
        [ngClass]="{
          'text-danger':
            registerForm.get('username')?.hasError('required') &&
            registerForm.get('username')?.pristine
        }"
        >Login *</label
      >
      <input
        formControlName="username"
        type="text"
        id="input-username"
        class="form-control"
      />

      <div>
        <ul class="form-text text-danger field-required">
          <li
            [ngClass]="{
              'text-success': !registerForm.get('username')?.errors
            }"
          >
            Hasło powinno mieć od 6 do 20 znaków
          </li>
        </ul>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="input-password">Hasło *</label>
      <input
        formControlName="password"
        type="password"
        id="input-password"
        class="form-control"
      />
      <div>
        <ul class="form-text text-danger field-required">
          <li
            [ngClass]="{
              'text-success':
                !registerForm.get('password')?.hasError('passwordTooShort') &&
                !registerForm.get('password')?.hasError('passwordTooLong')
            }"
          >
            Hasło powinno mieć od 6 do 20 znaków
          </li>
          <li
            [ngClass]="{
              'text-success': !registerForm
                .get('password')
                ?.hasError('passwordNoSmallLetters')
            }"
          >
            Hasło powinno zawierać co najmniej 1 małą literę
          </li>
          <li
            [ngClass]="{
              'text-success': !registerForm
                .get('password')
                ?.hasError('passwordNoCapitalLetters')
            }"
          >
            Hasło powinno zawierać co najmniej 1 wielką literę
          </li>
          <li
            [ngClass]="{
              'text-success': !registerForm
                .get('password')
                ?.hasError('passwordNoNumbers')
            }"
          >
            Hasło powinno zawierać co najmniej 1 cyfrę
          </li>
          <li
            [ngClass]="{
              'text-success': !registerForm
                .get('password')
                ?.hasError('passwordNoSpecialCharacter')
            }"
          >
            Hasło powinno zawierać co najmniej 1 znak specjalny
          </li>
        </ul>
      </div>
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-primary float-end btn-login"
        (click)="onSubmit()"
        [disabled]="registerForm.invalid"
      >
        Zarejestruj
      </button>
    </div>
  </form>
</div>
