$gray-600: #646464;
$gray-input: #999999;

$primary: #0070ad;
$secondary: #338091;
$light: #ececec;
$success: #2ea657;
$warning: #ff8e12;
$danger: #e30021;
$info: #12abdb;
$muted: $gray-600;
$dark-grey: #272936;
$deep-purple: #2b0a3d;
$bg-blue: #b3d4e6;
$background: #f9f9f9;
$white: #ffffff;
